*{
margin: 0;
padding: 0;
box-sizing: 0;
border: 1px solid red;
}
img {max-width: 100%}

p {
  color: grey;
}

.kudos img {
  width: 351px;
  height: 261px;
}
.blog {
width="590"
height="403"
}

.portfolio {
width="430"
height="438"
}

@media (max-width: 280px) {
  /*This is where my media Q's go*/
}
