/* -- Table of Contents
1. Header
2. Header About
2. Lifestyle Image
3. About
4. Services
5. Clients
6. Other Links
  - Blog
  - Testimonials
  - Portfolio
7. Instagram
8. Footer  --- */

/*This is the reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  /*border: 1px solid red;*/
}

/*-------Universal Styles------*/
body {
  color: #7C7C7C;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  line-height: 1.55;
  background-color: #F8E8DB;
  padding:13vh 12vw;
  text-align: center;
}
.line {
  border-bottom: 1px solid grey;

}
.border-container {
  background-color: white;

}
h1 {
  color: #0B2027;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

h2, h3, h4 {
  color: #0B2027;
  font-family: 'Raleway', sans-serif;
  }

h2 {
  font-size: 2rem;
}
  section, footer {
    padding: 10vh 0;
    margin: 0 10vw;
}

.no-padding {
    padding: 0;
  }

.featured {
    background-color: #F1A9A0;
  }

/*text*/
.centered {
  text-align: center;
}

.align-left {
    text-align: left;
}


a {
color: #0B2027;
text-decoration: none;
}

.trans {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  /*padding: 10vh 10vw;*/
}
.clear {
  clear: both;
}

.white-boxed {
  padding: 5%;
  max-width: 80%;
}

/*----------Header------*/
.top-banner {
  min-height: 100vh;
  background-image: url(../images/giphy.gif);
  background-size: cover;
  background-attachment: fixed;
  color: #6C7A89;
  font-weight: medium 500;
}

.top-banner h1 {
  margin-top: 10%;
}

.logo {
  height: auto;
  max-height: 140px;
  width: auto;
  max-width: 100%;
}

nav a {
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 2px;
  font-family: 'Raleway', cursive;
  font-size: 15px;
  border: 1px solid transparent;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
nav a:hover {
  border-bottom-color: #000;
}

/* Mobile nav toggle */
.nav-button {
  display: none;

  background-color: transparent;
  border: none;
  width: 15px;
  margin: 0 auto;
  font-size: 40px;
}
@media (max-width: 48em) {
  nav {
    position: relative;
  }
  .nav-button {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .mobile-nav-active .nav-items {
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
    top: -15px;
    right: 0;
  }
  nav a {
    display: block;
    text-align: center;
  }
}

.fixed-social {
  position:fixed;
  top: 20vh;
  right: 3vw;
}

.fixed-social a{
  display: block;
}
/*---------- Mobile nav toggle ----------*/


/*----------Header About----------*/


/*----------About----------*/


/*----------Services------*/


/*----------Portfolio------*/
.brand-logos {
  padding-left: 10%;
  padding-right: 10%
}
.centered {
  text-align: center;
}

.portfolio {
  width: 60%; text-align: center;
  margin: 5%;
}

.portfolio a {
  font-weight: 400;
}

.moodshot {
  text-align: right;
}

/*----------Other Links----------*/
  /*- Blog
  - Testimonials
  - Portfolio*/

figure.effect-lily {
  width: 100%;
}

/*----------Instagram----------*/


/*----------Footer------*/
.footer {
  background-color: white;
}

/*----------Contact----------*/
form input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

form {
  max-width: 700px;
  margin: auto;
}

@media (max-width: 280px) {
  /*This is where my media Q's go*/
}
