
<footer class="footer">
<!-- This is the footer with links to social and stuff  -->
<h2>Get In Touch</h2>
<a href="mailto:hello@mocreativemarketing.com.au">hello@mocreativemarketing.com.au</a>
  <nav>
    <!-- This is my social media nav -->
    <a href="https://www.facebook.com/mo.creativemarketing/" target="_blank">Facebook</a>
    <a href="https://www.instagram.com/mo.creative/"target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/in/amoonarkell/">LinkedIn</a>
  </nav>
</footer>
