<div class="grid brand-logos gallery-image">

  <div class="col-4 gallery-image">
    <img src="images/theiconic.png" />
  </div>

  <div class="col-4 gallery-image">
    <img src="images/carminelogo.jpg" />
  </div>

  <div class="col-4 gallery-image">
    <img src="images/pummellogo.jpeg" />
  </div>

  <div class="col-4 gallery-image">
    <img src="images/providerstore.jpg" />
  </div>

  <div class="col-4 gallery-image">
      <img src="images/ebay.jpeg" />
  </div>

  <div class="col-4 gallery-image">
    <img src="images/House.jpeg" />
  </div>

</div>
