<header class="centered">

  <!-- This is my header -->
  <div class="centered">
    <!-- This is my logo -->
    <a href="index"><img class="logo" src="images/MoCreative_Logo_v512.png"></a>
  </div>

  <nav>
    <div class="nav-items list-unstyled">
      <!-- This is my nav -->
      <a href="about">About</a>
      <a href="testimonials">Testimonials</a>
      <a href="portfolio">Portfolio</a>
      <a href="gallery">Gallery</a>
      <a href="contact">Contact</a>
    </div>
    <button class="nav-button" type="button" name="button">=</button>
  </nav>

</header>

<div class="fixed-social">
  {% include social.html %}
</div>
